<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>
            Welcome to 99Cats, <%= @user.username %>
        </h1>
        <p>
            You've successfully signed up. Have fun browsing!
        </p>
    </body>
</html>
