.header {
  background-color: var(--lp);
  color: var(--dp);
  font-size: 20px;
  text-align: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item:first-child {
  margin-right: auto;
}

.header-item:last-child {
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-logo, .header-title, 
.header-log-in, .header-sign-up, 
.header-username, .header-sign-out form input {
  background-color: var(--o);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
