main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--dr);
  width: 75%;
}
