// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul li a {
  color: red;
  border-radius: 5px;
}

button {
  color: cyan;
  border: black;
  border-radius: 5px;
  margin: 5px;
}
