// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up {
  border: var(--dr);
  border-radius: 10px;
  padding: 30px;
  background-color: var(--dr);
  width: 25%;
  min-width: 240px;
  height: auto;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-item {
  padding: 5px;
}

.sign-up-form label {
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
}

.sign-up-form input {
  background-color: var(--p);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.sign-up-form input[type='submit'] {
  border-radius: 10px;
  text-align: center;
}
