<% content_for :header do %>
  <div class='title cf'>
    <h1>Log in page</h1>
  </div>
<% end %>

<div class='login'>
  <form class="log-in-form" action="<%= session_url %>" method="post">
    <%= auth_token %>
    
    <div class='login-item'>
      <label for="email">Email (primary identifier)</label>
      <input id="email" type="text" name="user[email]">
    </div>

    <div class='login-item'>
      <label for="password">Password</label>
      <input id="password" type="password" name="user[password]">
    </div>

    <div class='login-item'>
      <%= render 'shared/errors' %>
    </div>

    <div class="login-item">
      <input class="submit_button" type="submit" value="Log in!">
    </div>
  </form>
</div>
