<% content_for :header do %>
  <div class='title cf'>
    <h1>Log in page</h1>
  </div>
<% end %>

<div class='div-for-form'>
  <form class="form" action="<%= session_url %>" method="post">
    <%= auth_token %>
    
    <div class='form-item'>
      <label class='label' for="email">Email (primary identifier)</label>
      <input class='input_text' id="email" type="text" name="user[email]">
    </div>

    <div class='form-item'>
      <label class='label' for="password">Password</label>
      <input class='input_password' id="password" type="password" name="user[password]">
    </div>

    <div class='form-item'>
      <%= render 'shared/errors' %>
    </div>

    <div class="form-item">
      <input class="input_submit" type="submit" value="Log in!">
    </div>
  </form>
</div>
