<% content_for :header do %>
  <div class='title cf'>
    <h1>Sign up page</h1>
  </div>
<% end %>

<div class='div-for-form'>
  <form class="form" action="<%= users_url %>" method="post">
    <%= auth_token %>
    
    <div class="form-item">
      <label class='label' for="username">Username (can be changed later!)</label>
      <input class='input_text' id="username" type="text" name="user[username]">
    </div>

    <div class="form-item">
      <label class='label' for="email">Email (primary identifier)</label>
      <input class='input_text' id="email" type="text" name="user[email]">
    </div>

    <div class="form-item">
      <label class='label' for="password">Password</label>
      <input class='input_password' id="password" type="password" name="user[password]">
    </div>

    <div class="form-item">
      <label class='label' for="password_confirmation">Confirm Password</label>
      <input class='input_password' id="password_confirmation" type="password" name="user[password_confirmation]">
    </div>

    <div class="form-item">
      <%= render 'shared/errors' %>
    </div>

    <div class="form-item">
      <input class='input_submit' type="submit" value="Create User!">
    </div>
  </form>
</div>
